@model GaleriAHL.Entities.Satis

@{
    ViewData["Title"] = "Satış Düzenle";
}

<h1>Satış Düzenle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AracId" class="control-label"></label>
                <select asp-for="AracId" class="form-select" asp-items="ViewBag.AracId"></select>
                <span asp-validation-for="AracId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MusteriId" class="control-label"></label>
                <select asp-for="MusteriId" class="form-select" asp-items="ViewBag.MusteriId"></select>
                <span asp-validation-for="MusteriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SatisFiyat" class="control-label"></label>
                <input asp-for="SatisFiyat" class="form-control" />
                <span asp-validation-for="SatisFiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SatisTarih" class="control-label"></label>
                <input asp-for="SatisTarih" class="form-control" />
                <span asp-validation-for="SatisTarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


